[user]
	email = 12871+vitorpy@users.noreply.github.com
	name = Vitor Py Braga
	signingKey = 04983CBC2428686A
[commit]
	gpgsign = true
[alias]
	logs = log --show-signature
[includeIf "gitdir:~/tito/"]
    	path = ~/.gitconfig-tito
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
[diff "lockb"]
	textconv = bun
