/* Berg theme for wofi */

window {
    margin: 0px;
    border: 2px solid #5dc453;
    background-color: #000000;
    border-radius: 10px;
    font-family: "Avenir Next M for BBG", sans-serif;
    font-size: 14px;
}

#input {
    margin: 5px;
    padding: 8px;
    border: 1px solid #464646;
    border-radius: 5px;
    color: #d7d7d7;
    background-color: #202020;
    font-family: inherit;
    font-size: 14px;
}

#input:focus {
    border-color: #f49f31;
    outline: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #000000;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #000000;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d7d7d7;
}

#entry {
    border-radius: 5px;
}

#entry:selected {
    background-color: #282828;
    border-radius: 5px;
    border: 1px solid #f49f31;
}

#entry:selected #text {
    color: #f49f31;
    font-weight: bold;
}

#entry:hover {
    background-color: #202020;
    border-radius: 5px;
}
