{{ if eq .chezmoi.hostname "rivest" -}}
vitor@vitorpy.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAuoQDOysawWhA9yLIBl2AxN8Dbrz1uK5LYwz7qriAkX
{{ else -}}
vitor@vitorpy.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICCHiLKhovfixpOHPCnLzOsdRIUad248KhnBRA1ETUEd
{{ end -}}
