# Managed by Ansible.
[OOM]
SwapUsedLimit={{ arch_oomd_swap_used_limit }}
DefaultMemoryPressureLimit={{ arch_oomd_default_memory_pressure_limit }}
DefaultMemoryPressureDurationSec={{ arch_oomd_default_memory_pressure_duration }}
