monitor = , preferred, auto, 1

input {
    kb_model = pc105
    kb_layout = pl,us
    kb_variant = ,intl
    kb_options = grp:alt_shift_toggle
}

animations {
    enabled = false
}

decoration {
    shadow {
        enabled = false
    }
}

misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    force_default_wallpaper = 0
}

debug {
    disable_logs = false
}
